body {
    background: #E4DFDA;
    text-align: center;
}

h1, h3 {
    color: #361F27;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: #361F27;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 35%;
    margin-right: 35%;
}

img {
    border: 5px solid #912F56;
    margin-top: 5%;
}

h2#button {
    color:#D7D6D6;
    background-color: #912F56;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 42%;
    margin-right: 42%;
}

h2#button :hover {
    color:#D7D6D6;
}

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7b7263;
    margin-left: auto;
    margin-right:auto;
    height: 50px;
    font-size: larger;
}

nav :hover {
    color:#D7D6D6;
}
